<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>HTML5 / jQuery</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" src="{{ url_for('static', filename='css/style.css') }}">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <script src="{{ url_for('static', filename='js/jscript.js') }}"></script>
         <style>
            body{background-color : #C6E2FF;}
        </style>
    </head>
    <body>
        <h1 class="text-center">Projet traitement d'images</h1>
        <hr>

        <div class="container">

            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                    <img id="myImg" alt="image de base..." style="width:300px;height:300px">
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                    <img id="filtrer" alt="image filtré..." style="width:300px;height:300px"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                      <img id="bruit" alt="image du bruit..." style="width:300px;height:300px"/>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-8">

                    <form id="process-type" action='' method="post">
                        <input id="process-type-btn" type="button" name="median" value="Median">
                    </form>

                    <form id="upload-file" action='' method="post" enctype="multipart/form-data" >
                        <input id='name' type="file" name="file"/>
                        <input id="upload-file-btn" type="button" value="Upload"/>
                    </form>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <img id="histogram" alt="image histogramme..." style="width:300px;height:300px"/>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>